
<div class="first_name">
<label for="first_name"></label>
<input type="text" name="first_name" value="First Name">
</div>

<div class="last_name">
<label for="last_name"></label>
<input type="text" name="last_name" value="Last Name">
</div>

<div class="address">
<label for="address"></label>
<input type="text" name="address" value="Address">
</div>

<div class="phone_number">
<label for="phone_number"></label>
<input type="text" name="phone_number" value="Phone Number">
</div>


<input class="submit-button" type="submit" value="Submit">



<div class="contact-container">
</div>
