<a href="a.html"><button>Page A</button></a>
<a href="b.html"><button>Page B</button></a>
<a href="c.html"><button>Page C</button></a>
<a href="d.html"><button>Page D</button></a>
<a href="e.html"><button>Page E</button></a>
